name: Build

on: push

env:
  VUETORRENT_REPO: WDaan/VueTorrent
  VUETORRENT_REF: v2.30.2

jobs:
  build:
    name: Build Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          images: |
            ghcr.io/${{ github.repository }}
          tags: |
            type=raw,priority=1000,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
            type=semver,pattern={{version}},value=${{ env.VUETORRENT_REF }},enable=${{ github.ref == 'refs/heads/main' }}
            type=semver,pattern={{major}}.{{minor}},value=${{ env.VUETORRENT_REF }},enable=${{ github.ref == 'refs/heads/main' }}
            type=semver,pattern={{major}},value=${{ env.VUETORRENT_REF }},enable=${{ github.ref == 'refs/heads/main' }}
          labels: |
            org.opencontainers.image.title=LinuxServer.io VueTorrent Mod
            maintainer=gabe565
            org.opencontainers.image.vendor=gabe565
            org.opencontainers.image.source=https://github.com/${{ env.VUETORRENT_REPO }}
            org.opencontainers.image.version=${{ env.VUETORRENT_REF }}
            org.opencontainers.image.licenses=GPL-3.0
      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
      - name: Set up Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Build and Push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          pull: true
          push: ${{ github.secret_source == 'Actions' && steps.meta.outputs.tags != '' }}
          platforms: linux/amd64,linux/arm/v7,linux/arm64/v8
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            VUETORRENT_REPO=${{ env.VUETORRENT_REPO }}
            VUETORRENT_REF=${{ env.VUETORRENT_REF }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
